* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  background-color: rgb(58, 145, 244);
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.signup {
  margin-left: 500px;
}

.login {
  margin-left: -100px;
}

.logo-container {
  color: rgb(41, 135, 230);
  background-color: rgb(152, 203, 255);
  display: flex;
  justify-content: center;
}

.logo {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe, .social {
  align-self: flex-end;
  padding-bottom: 20px;
}

.flex-box-container {
  display: flex;
  justify-content: center;
}

.flex-box {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.flex-box-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1;
}

.last-item {
 order: -1;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-item {
  border: 1px solid #fff;
  background-color: rgb(152, 203, 255);
  height: 200px;
  flex: 1;
}

.footer-three {
  flex: 2;

}
.footer-one, .footer-three {
  background-color: rgb(58, 145, 244);
  flex: initial;
  width: 300px;
}